:root {
  --color-background: #f9fafb;
  --color-foreground: #1a1a1a;
  --color-danger: #ef494f;
  --color-warning: #f59d0e;
  --color-border: #e1e1e1;
  --color-accent: #2f72e2;

  --color-gray-50: #c0c0c0;
  --color-gray-100: #9da4b2;
  --color-gray-200: #8c93a1;
  --color-gray-300: #677289;

  --font-default: 'Inter', sans-serif;
  --font-brand: 'BL Melody', sans-serif;

  --base-shadow:
      0 1px 1px rgba(0, 0, 0, .02),
      0 1px 3px rgba(0, 0, 0, .04),
      inset 0 0 0 0.5px var(--color-border);
  --focus-ring:
      inset 0 0 0 0.5px rgba(47, 114, 226, 1),
      0 0 0 1.5px rgba(47, 114, 226, 0.25);

}